{% extends 'base.html' %}

{% block content %}
<h1>Phishing Guidebook</h1>
<h3>The essential notes to identifying and avoiding <b>Phishing Attacks:</b></h3>
<ul>
    <li>Phishing Attacks are also known as <i>Social Engineering</i> Attacks</li>
    <li>Common types of Phishing Attacks include <i>Spear Phishing, Whaling, Smishing, Vishing and Email Phishing</i></li>
    <li><i>Email Phishing</i> is the most common of all and occurs when an attacker manage to obtain an individual's email address</li>
    <li>Factors in an attacker gaining ones email address include <i>Data Breaches, Dumpster Diving, Weak Passwords or Cloning an email sent by a trusted organisational body</i></li>
    <li>The Attacker that sent the message often writes it to envoke a sense of urgency from the user, for example <i>they might be informing them that their password has expired and they must click on the provided link</i></li>
    <li>An effective countermeasure against Phishing Attacks is to hover over any provided links to check the destination</li>
    <li>If the destination can be reached by search engine, it would be advised over clicking the link</li>
    <li>Other types of Phishing Attacks include <i>Search Engine Phishing, Clone Phishing, HTTPS Phishing, Pop-Up Phishing and Evil Twin Phishing</i></li>
    <li>Be sure to have <i>Firewalls</i> installed on your devices</li>
</ul>
{% endblock %}

<!-- Go to 'http://localhost:8000/' and run 'python manage.py runserver' to run code on browser-->