<html>
    <head>
        <title>Phishing Game 'Quiz'</title>
    </head>
    <body>
        <h1>Welcome to Phishing Game 2</h1>

        <form>
            <h2>Q1: What is another name for Phishing Attacks?</h2>
            <p>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">Whaling</label>
                
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">Vishing</label>
                <br />
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">Social Engineering</label>
                
                <input type="radio" id="python" name="fav_language" value="Python">
                <label for="python">Scamming</label>
            </p>

            <h2>Q2: Which type of Phishing Attack alters the IP Address to redirect the user to a malicous site?</h2>
            <p>
                <input type="radio" id="html" name="IP_address" value="HTML">
                <label for="html">Evil Twin Phishing</label>
                
                <input type="radio" id="css" name="IP_address" value="CSS">
                <label for="css">Spear Phishing</label>
                <br />
                <input type="radio" id="javascript" name="IP_address" value="JavaScript">
                <label for="javascript">HTTPS Phishing</label>
                
                <input type="radio" id="python" name="IP_address" value="Python">
                <label for="python">Pharming</label>
            </p>

            <h2>Q3: What do you do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Link" value="HTML">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Link" value="CSS">
                <label for="css">Ask for help from a fellow employee</label>
                <br />
                <input type="radio" id="javascript" name="Link" value="JavaScript">
                <label for="javascript">Click the Link</label>
                
                <input type="radio" id="python" name="Link" value="Python">
                <label for="python">Ask for help from the IT department</label>
            </p>

            <h2>Q4: What type of Phishing attack targets a high ranking member within an organisation?</h2>
            <p>
                <input type="radio" id="html" name="Lin" value="HTML">
                <label for="html">Smishing</label>
                
                <input type="radio" id="css" name="Lin" value="CSS">
                <label for="css">Whaling</label>
                <br />
                <input type="radio" id="javascript" name="Lin" value="JavaScript">
                <label for="javascript">Trojan Horse</label>
                
                <input type="radio" id="python" name="Lin" value="Python">
                <label for="python">Dumpster Diving</label>
            </p>

            <h2>Q5: What do you do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Linc" value="HTML">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Linc" value="CSS">
                <label for="css">Ask for help from a fellow employee</label>
                <br />
                <input type="radio" id="javascript" name="Linc" value="JavaScript">
                <label for="javascript">Click the Link</label>
                
                <input type="radio" id="python" name="Linc" value="Python">
                <label for="python">Ask for help from the IT department</label>
            </p>

            <h2>Q6: What do you do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Lina" value="HTML">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Lina" value="CSS">
                <label for="css">Ask for help from a fellow employee</label>
                <br />
                <input type="radio" id="javascript" name="Lina" value="JavaScript">
                <label for="javascript">Click the Link</label>
                
                <input type="radio" id="python" name="Lina" value="Python">
                <label for="python">Ask for help from the IT department</label>
            </p>

            <h2>Q7: What do you do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Linb" value="HTML">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Linb" value="CSS">
                <label for="css">Ask for help from a fellow employee</label>
                <br />
                <input type="radio" id="javascript" name="Linb" value="JavaScript">
                <label for="javascript">Click the Link</label>
                
                <input type="radio" id="python" name="Linb" value="Python">
                <label for="python">Ask for help from the IT department</label>
            </p>

            <h2>Q8: What do you do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Lind" value="HTML">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Lind" value="CSS">
                <label for="css">Ask for help from a fellow employee</label>
                <br />
                <input type="radio" id="javascript" name="Lind" value="JavaScript">
                <label for="javascript">Click the Link</label>
                
                <input type="radio" id="python" name="Lind" value="Python">
                <label for="python">Ask for help from the IT department</label>
            </p>

            <h2>Q9: What do you do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Line" value="HTML">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Line" value="CSS">
                <label for="css">Ask for help from a fellow employee</label>
                <br />
                <input type="radio" id="javascript" name="Line" value="JavaScript">
                <label for="javascript">Click the Link</label>
                
                <input type="radio" id="python" name="Line" value="Python">
                <label for="python">Ask for help from the IT department</label>
            </p>
            <input type="submit" name="submit" value="Submit Answers!" />
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Exit!</a>
        </form>
    </body>
</html>