<html>
    <head>
        <title>Phishing Game 'Quiz'</title>
    </head>
    <body>
        <h1>Welcome to Phishing Game 2</h1>

        <form>
            <h2>What is another name for Phishing Attacks?</h2>
            <p>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">Whaling</label>
                
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">Vishing</label>
                <br />
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">Social Engineering</label>
                
                <input type="radio" id="python" name="fav_language" value="Python">
                <label for="python">Scamming</label>
            </p>

            <h2>Which type of Phishing Attack alters the IP Address to redirect the user to a malicous site?</h2>
            <p>
                <input type="radio" id="html" name="IP_address" value="HTML">
                <label for="html">Evil Twin Phishing</label>
                
                <input type="radio" id="css" name="IP_address" value="CSS">
                <label for="css">Spear Phishing</label>
                <br />
                <input type="radio" id="javascript" name="IP_address" value="JavaScript">
                <label for="javascript">HTTPS Phishing</label>
                
                <input type="radio" id="python" name="IP_address" value="Python">
                <label for="python">Pharming</label>
            </p>

            <h2>What do you do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Link" value="HTML">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Link" value="CSS">
                <label for="css">Ask for help from a fellow employee</label>
                <br />
                <input type="radio" id="javascript" name="Link" value="JavaScript">
                <label for="javascript">Click the Link</label>
                
                <input type="radio" id="python" name="Link" value="Python">
                <label for="python">Ask for help from the IT department</label>
            </p>
            <input type="submit" name="submit" value="Submit Answers!" />
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Exit!</a>
        </form>
    </body>
</html>