<html>
    <head>
        <title>Phishing Game 'Email/SMS'</title>
    </head>
    <body>
    <h1>Answers to the previous question:</h1>
    <h3>The sender does not address you by your name.</h3>
    <h3>The message is trying to intimidate you with a deadline.</h3>
        {% load static %}
        <img class="imgPhishEmail" src="{% static 'webpage/images/phishtext.jpg' %}" alt="Phishing Email" title="An example of Phishing from an email message">
    
    <h2>Examine the above Sample Email Message and Select the boxes which correspond to the Phishing Threats present in the message.</h2>

    <form >
        <p>
           <input type="checkbox" name="sender" /> A deadline is featured in the message.
           <br />
           <input type="checkbox" name="main" /> The message appears to have been sent by a legitimite company.
           <br />
           <input type="checkbox" name="date" /> You are being asked with urgency to click the provided link.
           <br />
           <input type="checkbox" name="link" /> The sender is asking for personal information in the message.
           <br />
        </p>
        <button type="submit" formaction='phish1c'>Check Answer/Move to Next!</button>
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Exit!</a>
        <!--<input type="submit" name="submit" value="Next Page!" />-->
    </form>
    </body>
</html>