<html>
    <head>
        <title>Phishing Game 'Email/SMS'</title>
    </head>
    <body>
        <h1>Welcome to Phishing Game 1</h1>
        {% load static %}
        <img class="imgPhishEmail" src="{% static 'webpage/images/phishbasicemail-c.jpg' %}" alt="Phishing Email" title="An example of Phishing from an email message">
    
    <h2>Examine the above Sample Email Message and Select the boxes which correspond to the Phishing Threats present in the message.</h2>

    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <p>
        <hr/>
           <!--<div class="form-group" id="more-options" style="display:none;">-->
            <div class="form-check">
           <input type="checkbox" name="sender" class="form-check-input" value="wrong"/> The identity of the sender of this email is clear.
           </div>
           <br />
           <div class="form-check">
           <input type="checkbox" name="main" class="form-check-input" value="right"/> The text in the main body projects a sense of urgency.
            </div>
           <br />
           <div class="form-check">
           <input type="checkbox" name="date" class="form-check-input" value="wrong"/> Say the message was just sent to you today. The time in which it was sent is important.
            </div>
           <br />
           <div class="form-check">
           <input type="checkbox" name="link" class="form-check-input" value="right"/> It's okay to click on the link provided.
            </div>
           <br />
        </p>
        <button type="submit" formaction='phish1a'>Check Answer/Move to Next!</button>
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Exit!</a>
        <!-- <input type="submit" name="submit" value="Next Page!" /> -->
    </form>
    </body>
</html>