<html>
    <head>
        <title>Phishing Game 'Quiz'</title>
    </head>
    <body>
        <h1>Welcome to Phishing Game 2</h1>

        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <h2>Q1: What is another name for Phishing Attacks?</h2>
            <p>
                <input type="radio" id="html" name="fav_language" value="wrong">
                <label for="html">Whaling</label>
                
                <input type="radio" id="css" name="fav_language" value="wrong">
                <label for="css">Vishing</label>
                <br />
                <input type="radio" id="javascript" name="fav_language" value="right">
                <label for="javascript">Social Engineering</label>
                
                <input type="radio" id="python" name="fav_language" value="wrong">
                <label for="python">Scamming</label>
            </p>

            <h2>Q2: Which type of Phishing Attack alters the IP Address to redirect the user to a malicious site?</h2>
            <p>
                <input type="radio" id="html" name="IP_address" value="wrong">
                <label for="html">Evil Twin Phishing</label>
                
                <input type="radio" id="css" name="IP_address" value="wrong">
                <label for="css">Spear Phishing</label>
                <br />
                <input type="radio" id="javascript" name="IP_address" value="right">
                <label for="javascript">HTTPS Phishing</label>
                
                <input type="radio" id="python" name="IP_address" value="wrong">
                <label for="python">Pharming</label>
            </p>

            <h2>Q3: What do you not do when an Email comes with a link and asks you with urgency to click it?</h2>
            <p>
                <input type="radio" id="html" name="Link" value="wrong">
                <label for="html">Use a Link Scanner</label>
                
                <input type="radio" id="css" name="Link" value="right">
                <label for="css">Click the Link Immediately</label>
                <br />
                <input type="radio" id="javascript" name="Link" value="wrong">
                <label for="javascript">Ask for help from a fellow employee</label>
                
                <input type="radio" id="python" name="Link" value="wrong">
                <label for="python">Ask for help from the IT department</label>
            </p>

            <h2>Q4: What type of Phishing Attack targets a high ranking member within an organisation?</h2>
            <p>
                <input type="radio" id="html" name="Lin" value="wrong">
                <label for="html">Smishing</label>
                
                <input type="radio" id="css" name="Lin" value="right">
                <label for="css">Whaling</label>
                <br />
                <input type="radio" id="javascript" name="Lin" value="wrong">
                <label for="javascript">Trojan Horse</label>
                
                <input type="radio" id="python" name="Lin" value="wrong">
                <label for="python">Dumpster Diving</label>
            </p>

            <h2>Q5: Which of the following is an effective Countermeasure against Phishing Attacks?</h2>
            <p>
                <input type="radio" id="html" name="Linc" value="right">
                <label for="html">Install firewall software</label>
                
                <input type="radio" id="css" name="Linc" value="wrong">
                <label for="css">Delete all messages from unfamiliar senders</label>
                <br />
                <input type="radio" id="javascript" name="Linc" value="wrong">
                <label for="javascript">Call the Gardai</label>
                
                <input type="radio" id="python" name="Linc" value="wrong">
                <label for="python">Message back the sender saying that you have denied their offer</label>
            </p>

            <h2>Q6: When hovering over a link provided in an Email, what proves that it is a malicious link?</h2>
            <p>
                <input type="radio" id="html" name="Lina" value="wrong">
                <label for="html">The link is highlighted</label>
                
                <input type="radio" id="css" name="Lina" value="wrong">
                <label for="css">No text appears at the bottom of the screen</label>
                <br />
                <input type="radio" id="javascript" name="Lina" value="wrong">
                <label for="javascript">The link changes colour</label>
                
                <input type="radio" id="python" name="Lina" value="right">
                <label for="python">The text in the Email does not match the text that appears at the bottom of the screen</label>
            </p>

            <h2>Q7: What is targeted in Evil Twin Phishing?</h2>
            <p>
                <input type="radio" id="html" name="Linb" value="wrong">
                <label for="html">RAM Memory</label>
                
                <input type="radio" id="css" name="Linb" value="wrong">
                <label for="css">The Recycle Bin</label>
                <br />
                <input type="radio" id="javascript" name="Linb" value="right">
                <label for="javascript">Wi Fi</label>
                
                <input type="radio" id="python" name="Linb" value="wrong">
                <label for="python">Access Credentials</label>
            </p>

            <h2>Q8: Which of the following is not covered by Anti-Phishing Software?</h2>
            <p>
                <input type="radio" id="html" name="Lind" value="wrong">
                <label for="html">Email messages are scanned for malware</label>
                
                <input type="radio" id="css" name="Lind" value="wrong">
                <label for="css">IT specialists are automatically alerted to malicious activity</label>
                <br />
                <input type="radio" id="javascript" name="Lind" value="right">
                <label for="javascript">Users are blocked from accessing attachments in suspected emails</label>
                
                <input type="radio" id="python" name="Lind" value="wrong">
                <label for="python">Phishing Emails can be prevented from entering the user's email inbox</label>
            </p>

            <h2>Q9: What information is targeted in a Vishing Call?</h2>
            <p>
                <input type="radio" id="html" name="Line" value="wrong">
                <label for="html">Phone Numbers and Passwords</label>
                
                <input type="radio" id="css" name="Line" value="wrong">
                <label for="css">Date of Birth</label>
                <br />
                <input type="radio" id="javascript" name="Line" value="wrong">
                <label for="javascript">First and Last Name</label>
                
                <input type="radio" id="python" name="Line" value="right">
                <label for="python">All of the above</label>
            </p>
            <input type="submit" name="submit" value="Submit Answers!" />
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Exit!</a>
        </form>
    </body>
</html>