{% extends 'base.html' %}

{% block content %}
<h1>Recommended Reading</h1>
<h3>A List of Links to <b>Phishing Related Articles</b> and <b>Anti Phishing Software</b></h3>
    <ul>
        <li><a href="https://www2.hse.ie/services/cyber-attack/what-happened/" target="_blank">HSE Cyber Attack 2021</a></li>
        <li><a href="https://www.theguardian.com/technology/2022/aug/11/nhs-ransomware-attack-what-happened-and-how-bad-is-it" target="_blank">NHS Ransomware Attack 2022</a></li>
        <li><a href="https://expertinsights.com/insights/top-10-phishing-protection-solutions/" target="_blank">Top 10 Phishing Protection Tools</a></li>
    </ul>
{% endblock %}