{% extends 'base.html' %}

{% block content %}
<h1>Recommended Reading</h1>
<h3>A List of Links to <b>Phishing Related Articles</b> and <b>Anti Phishing Software</b></h3>
    <ul>
        <li><a href="https://www2.hse.ie/services/cyber-attack/what-happened/" target="_blank">HSE Cyber Attack 2021</a></li>
        <li><a href="https://www.theguardian.com/technology/2022/aug/11/nhs-ransomware-attack-what-happened-and-how-bad-is-it" target="_blank">NHS Ransomware Attack 2022</a></li>
        <li><a href="https://expertinsights.com/insights/top-10-phishing-protection-solutions/" target="_blank">Top 10 Phishing Protection Tools</a></li>
        <li><a href="https://hit.healthsystem.virginia.edu/departments/security/security-awareness/security-awareness-resources/phishing/#:~:text=If%20you%20hover%20your%20cursor,e.g.%2C%20.com%20vs.%20." target="_blank">Phishing 101</a></li>
        <li><a href="https://www.bitlyft.com/resources/dont-get-hooked-by-vishing-how-to-spot-and-avoid-a-vishing-attack" target="_blank">The Danger of Vishing</a></li>
        <li><a href="https://www.phishprotection.com/content/anti-phishing-software/anti-phishing-techniques" target="_blank">Anti Phishing Techniques</a></li>
    </ul>
{% endblock %}